doctype html
script.
    const book_info = !{jsStringify(book)}
    const user_info = !{jsStringify(session.user)}

html
    script(src = "/js/scripts.js")
    head
        title= 'User\'s Cart'

    body
        include ../partials/header
        br

        style.
            p1 {
                font-size: 32px;
                font-weight: 700;
            }
            p {
                font-size: 16px;
            }

        //p1= "Profile for " + user
        br

        //If user owns profile being displayed, show privacy settings

        if session.loggedin
            | Cart contents:
            br
            br
            - let i = 1;
            - let total_items = 0;
            - let total_price = 0;

            table(style='width:100%', border='1')
                tr
                    th Title
                    th Qty.
                    th Price
                for book in books
                    tr
                        td !{book.title}
                        td !{book.qty}
                        td !{book.price}
                    -i++;
                    -total_items +=book.qty
                    -total_price += parseFloat(book.price*book.qty)

            p= "Total Items: " + total_items
            p= "Total Cost: " + parseFloat(total_price).toPrecision(3)
            form#login(method='POST' action='/placeorder')
                label(for='shipping') Shipping Address:
                    input#title.form-control(type='text', placeholder='Enter Shipping Address', name="shipping")
                    label(for='method')  Method of Payment:
                        input#author.form-control(type='text', placeholder='Enter Method of Payment', name="method")

                    br
                    button#bookBtn(type='submit') Place Order

        else

            if errormessage
                script(type="text/javascript", charset="utf-8").
                    alert("#{errormessage}")

            //Form that is used to send privacy setting change request

